* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logosection {
    display: flex;
    justify-self: start;
    gap: 20px;

}

.logosection img{
    height: 80px;
    width: 80px;
    padding-top: 2px;
    padding-left: 2px;
}

.logosection h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    padding-top: 15px;
}

.dashboard {
    background-color:black;  
    border-radius: 40px;
    padding: 10px 30px 90px 30px;
    margin: 15px 60px 10px 60px;
}

.mynews {
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px 470px 10px 470px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#loadnews {
    display: flex;
    justify-content: space-around;
}

.save, .new {
    background: rgb(235, 235, 47);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 50px;
    margin-top: 50px;
    cursor: pointer;
}

.getnews {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding-top: 30px;
}

.stay {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 55px;
    padding-top: 100px;
    color: white;
    text-shadow: 0 0 0 black;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

.savednews, .newnews {
    background-color: black;
    padding: 10px 20px 20px 20px;
    margin-top: 33px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;

}

.savebtn, .newbtn, .category, .all, .business, .sports, .world, .politics, .hatke, .science {
    background: rgb(235, 235, 47);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 5px;
    cursor: pointer;
}

.newsfeed1, .newsfeed2 {
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 5px;
}

.loadbtn1, .loadbtn2 {
    display: flex;
    gap: 20px;
}

.selection, .lists {
    display: flex;
    justify-content: start;
    gap: 20px;
    padding-top: 5px;
}

.newli {
    background-color: lightgray;
    padding: 10px 40px 40px 40px;
    margin: 40px 70px 40px 70px;
    border-radius: 15px;
}

.details {
    display: flex;
    justify-content: space-between;
}

.author, .cg {
    display: flex;
    gap: 10px;
}

.author nav, .cg nav{
    font-size: 30px;
}

.author h3, .cg h3{
    font-size: 30px;
}

.content {
    padding-top: 10px;
    margin-top: 5px;
    font-size: 35px;
}

.newli .fa {
  font-size: 35px;
}

@media (max-width: 768px) {
    .logosection {
      flex-direction: column;
      align-items: center;
    }
  
    .logosection h1 {
      font-size: 35px;
    }
  
    .dashboard {
      padding-bottom: 50px;
    }
  
    .mynews {
      margin: 10px 30px;
      font-size: 20px;
    }
  
    #loadnews {
      flex-direction: column;
      align-items: center;
    }
  
    .save, .new {
      font-size: 25px;
      padding: 10px 20px;
      margin-top: 20px;
    }
  
    .getnews, .stay {
      font-size: 35px;
    }
  
    .savednews, .newnews {
      padding: 10px;
      margin: 20px;
    }
  
    .newsfeed1, .newsfeed2 {
      font-size: 20px;
      padding: 10px;
    }
  
    .loadbtn1, .loadbtn2 {
      flex-direction: column;
      align-items: center;
    }
  
    .selection, .lists {
      flex-direction: column;
      align-items: center;
    }
  
    .newli {
      padding: 10px;
      margin: 20px;
    }
  
    .author, .cg {
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }
  
    .author nav, .cg nav, .author h3, .cg h3, .content {
      font-size: 20px;
    }

    .newli .fa {
        font-size: 20px;
        margin-bottom: 30px;
    }
  }
  